<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Display of Education</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" />


</head>
<body>
<a href="/vieweducation">Show All Education</a><br/>


<h2>Education</h2>
<span th:text="${education.degree}"></span><br/>
<span th:text="${education.school}"></span><br/>
<span th:text="${education.year}"></span><br/>
<br/>


</body>
</html>