<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Display of Contact</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" />


</head>
<body>
<a href="/viewcontact">Show All Contacts</a><br/>


<h2>General</h2>
<span th:text="${contact.name}"></span><br/>
<a th:href="@{'mailto:'+${contact.email}}" target="_blank"><span th:text="${contact.email}"></span></a><br/>
<a th:href="@{'//'+${contact.linkedin}}" target="_blank"><span th:text="${contact.linkedin}"></span></a><br/>
<a th:href="@{'//'+${contact.github}}" target="_blank"><span th:text="${contact.github}"></span></a><br/>
<a th:href="@{'//'+${contact.twitter}}" target="_blank"><span th:text="${contact.twitter}"></span></a><br/>
<br/>


</body>
</html>