<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Summary Form</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" />


</head>
<body>
<form action="#"
      th:action="@{/processsummary}"
      th:object="${summary}"
      method="post">
    <input type="hidden" th:field="*{id}" />



    <h2>Summaries</h2>
    Summary: <input type="text" th:field="*{singleSummary}" />
    <span th:if="${#fields.hasErrors('singleSummary')}"
          th:errors="*{singleSummary}"></span><br/>

    <input type="submit" value="Submit" />
</form>
</body>
</html>